<main class="px-8 pt-4">
  <div>PLAYERS</div>
  <div class="flex flex-row gap-8 mb-8">
    <div class="basis-1/2 ">
      <!-- DIMA -->
      <div class="border h-100 p-4 m-0 rounded-md relative">
        <div class="text-3xl text-bold underline">Dima </div>
        <div class="absolute top-4 right-8">
          <button class=" 
            mr-4
            text-xl text-gray-100  
            bg-gradient-to-r from-purple-500 to-pink-500
            hover:from-blue-500 hover:to-cyan-500 transition-colors
            rounded-md px-2 py-1 cursor-pointer
            "
            (click)=(accept_dima())
            [class.hidden]="!dima_action"
            >ACCEPT</button>
          <button class=" 
            mr-4
            text-xl text-gray-100  
            bg-gradient-to-r from-yellow-500 to-pink-500
            hover:from-blue-500 hover:to-cyan-500 transition-colors
            rounded-md px-2 py-1 cursor-pointer
            "
            (click)=(dima_super_roll())
            [class.hidden]="dima_action"
            >SUPER ROLL</button>
          <button class=" 
            mr-4
            text-xl text-gray-100  
            bg-gradient-to-r from-purple-500 to-pink-500
            hover:from-blue-500 hover:to-cyan-500 transition-colors
            rounded-md px-2 py-1 cursor-pointer
            "
            (click)=(generate_dima())
            [class.hidden]="!dima_counter"
            >ROLL</button>
            <span>{{dima_counter}}</span> left
        </div>

        <div
          class="pt-8 text-left text-xs font-bold text-gray-300"
          [class.hidden]="!dima_action"
          >
          <div class="row flex flex-row h-20">
            <div class="basis-1/2">ACTION
              <p class="text-black text-3xl font-bold">{{dima_action}}</p>
            </div>
            <div class="basis-1/2">FOCUS
              <p class="text-black text-3xl font-bold">{{dima_zone}}</p>
            </div>
          </div>
          <div class="row flex flex-row h-18">
            <div class="basis-1/2">MODE
              <p class="text-black text-2xl font-bold">{{dima_mode}}</p>
            </div>
            <div class="basis-1/2">BONUS
              <p class="text-black text-2xl font-bold">{{dima_mode_bonus}}</p>
            </div>
          </div>
          <div class="row flex flex-row h-18">
            <div class="basis-1/2">TIME
              <p class="text-black text-2xl font-bold">{{dima_time}}</p>
            </div>
            <div class="basis-1/2">BONUS
              <p class="text-black text-2xl font-bold">{{dima_time_bonus}}</p>
            </div>
          </div>
          <div class="row flex flex-row h-18">
            <div class="basis-1/2">ROLL BONUS
              <p class="text-black text-2xl font-bold">{{dima_counter}}</p>
            </div>
            <div class="basis-1/2">TOTAL BONUS
              <p class="text-black text-2xl font-bold">{{count_bonus_dima()}}</p>
            </div>
          </div>
        </div>
      </div>
      <!-- END OF DIMA -->
    </div>

    <div class="basis-1/2 ">
      <!-- MAJA -->
      <div class="border h-100 p-4 m-0 rounded-md relative">
        <div class="text-3xl text-bold underline">Maja </div>
        <div class="absolute top-4 right-8">
        <button class=" 
          mr-4
          text-xl text-gray-100  
          bg-gradient-to-r from-purple-500 to-pink-500
          hover:from-blue-500 hover:to-cyan-500 transition-colors
          rounded-md px-2 py-1 cursor-pointer
          "
          (click)=(accept_maja())
          [class.hidden]="!maja_action"
          >ACCEPT</button>
        <button class=" 
          mr-4
          text-xl text-gray-100  
          bg-gradient-to-r from-yellow-500 to-pink-500
          hover:from-blue-500 hover:to-cyan-500 transition-colors
          rounded-md px-2 py-1 cursor-pointer
          "
          (click)=(maja_super_roll())
          [class.hidden]="maja_action"
          >SUPER ROLL</button>
        <button class=" 
          mr-4
          text-xl text-gray-100  
          bg-gradient-to-r from-purple-500 to-pink-500
          hover:from-blue-500 hover:to-cyan-500 transition-colors
          rounded-md px-2 py-1 cursor-pointer
          "
          (click)=(generate_maja())
          [class.hidden]="!maja_counter"
          >ROLL</button>
          <span>{{maja_counter}}</span> left
      </div>

      <div
        class="pt-8 text-left text-xs font-bold text-gray-300"
        [class.hidden]="!maja_action"
        >
        <div class="row flex flex-row h-20">
          <div class="basis-1/2">ACTION
            <p class="text-black text-3xl font-bold">{{maja_action}}</p>
          </div>
          <div class="basis-1/2">FOCUS
            <p class="text-black text-3xl font-bold">{{maja_zone}}</p>
          </div>
        </div>
        <div class="row flex flex-row h-18">
          <div class="basis-1/2">MODE
            <p class="text-black text-2xl font-bold">{{maja_mode}}</p>
          </div>
          <div class="basis-1/2">BONUS
            <p class="text-black text-2xl font-bold">{{maja_mode_bonus}}</p>
          </div>
        </div>
        <div class="row flex flex-row h-18">
          <div class="basis-1/2">TIME
            <p class="text-black text-2xl font-bold">{{maja_time}}</p>
          </div>
          <div class="basis-1/2">BONUS
            <p class="text-black text-2xl font-bold">{{maja_time_bonus}}</p>
          </div>
        </div>
        <div class="row flex flex-row h-18">
          <div class="basis-1/2">ROLL BONUS
            <p class="text-black text-2xl font-bold">{{maja_counter}}</p>
          </div>
          <div class="basis-1/2">TOTAL BONUS
            <p class="text-black text-2xl font-bold">{{count_bonus_maja()}}</p>
          </div>
        </div>
      </div>
      </div>
      <!-- END OF MAJA -->
    </div>
  </div>

  <div class="mt-2">JUDGES</div>
  <div class="relative min-h-80 rounded-md border mb-8">

        <button class="
          absolute bottom-2 right-2
          text-xl text-gray-100  
          bg-gradient-to-r from-rose-500 to-purple-500
          hover:from-purple-500 hover:to-rose-500 transition-colors
          rounded-md px-2 py-1 cursor-pointer
          "
          (click)=(reveal())
          >REVEAL</button>


      <div class="flex flex-row px-8 py-4">
        <div class="basis-1/3">
          <div class="text-xl mb-4">{{judge_1[0]}}</div>
          <div class="relative" [class.hidden]="!REVEALED">
            <div class="mb-4">
              <span>-- {{judge_1[1]}}</span>
              <div class="text-xs">
                <span class="ml-4 mr-2">DIMA: </span>
                <button class="text-sm border rounded-md px-2 mr-2"
                (click)=(dima_add_points(1))
                >+</button>
                <button class="text-sm border rounded-md px-2 mr-2"
                (click)=(dima_add_points(-1))
                >-</button>
                <span class="ml-4 mr-2">MAJA: </span>
                <button class="text-sm border rounded-md px-2 mr-2"
                (click)=(maja_add_points(1))
                >+</button>
                <button class="text-sm border rounded-md px-2 mr-2"
                (click)=(maja_add_points(-1))
                >-</button>
              </div>
            </div>
            <div class="mb-4">
              <span>-- {{judge_1[2]}}</span>
              <div class="text-xs">
                <span class="ml-4 mr-2">DIMA: </span>
                <button class="text-sm border rounded-md px-2 mr-2"
                (click)=(dima_add_points(2))
                >+</button>
                <button class="text-sm border rounded-md px-2 mr-2"
                (click)=(dima_add_points(-2))
                >-</button>
                <span class="ml-4 mr-2">MAJA: </span>
                <button class="text-sm border rounded-md px-2 mr-2"
                (click)=(maja_add_points(2))
                >+</button>
                <button class="text-sm border rounded-md px-2 mr-2"
                (click)=(maja_add_points(-2))
                >-</button>
              </div>
            </div>
            <div class="mb-4">
              <span>-- {{judge_1[3]}}</span>
              <div class="text-xs">
                <span class="ml-4 mr-2">DIMA: </span>
                <button class="text-sm border rounded-md px-2 mr-2"
                (click)=(dima_add_points(3))
                >+</button>
                <button class="text-sm border rounded-md px-2 mr-2"
                (click)=(dima_add_points(-3))
                >-</button>
                <span class="ml-4 mr-2">MAJA: </span>
                <button class="text-sm border rounded-md px-2 mr-2"
                (click)=(maja_add_points(3))
                >+</button>
                <button class="text-sm border rounded-md px-2 mr-2"
                (click)=(maja_add_points(-3))
                >-</button>
              </div>
            </div>
          </div>
        </div>
        <div class="basis-1/3">
          <div class="text-xl mb-4">{{judge_2[0]}}</div>
          <div [class.hidden]="!REVEALED">
            <div class="mb-4">
              <span>-- {{judge_2[1]}}</span>
              <div class="text-xs">
                <span class="ml-4 mr-2">DIMA: </span>
                <button class="text-sm border rounded-md px-2 mr-2"
                (click)=(dima_add_points(1))
                >+</button>
                <button class="text-sm border rounded-md px-2 mr-2"
                (click)=(dima_add_points(-1))
                >-</button>
                <span class="ml-4 mr-2">MAJA: </span>
                <button class="text-sm border rounded-md px-2 mr-2"
                (click)=(maja_add_points(1))
                >+</button>
                <button class="text-sm border rounded-md px-2 mr-2"
                (click)=(maja_add_points(-1))
                >-</button>
              </div>
            </div>
            <div class="mb-4">
              <span>-- {{judge_2[2]}}</span>
              <div class="text-xs">
                <span class="ml-4 mr-2">DIMA: </span>
                <button class="text-sm border rounded-md px-2 mr-2"
                (click)=(dima_add_points(2))
                >+</button>
                <button class="text-sm border rounded-md px-2 mr-2"
                (click)=(dima_add_points(-2))
                >-</button>
                <span class="ml-4 mr-2">MAJA: </span>
                <button class="text-sm border rounded-md px-2 mr-2"
                (click)=(maja_add_points(2))
                >+</button>
                <button class="text-sm border rounded-md px-2 mr-2"
                (click)=(maja_add_points(-2))
                >-</button>
              </div>
            </div>
            <div class="mb-4">
              <span>-- {{judge_2[3]}}</span>
              <div class="text-xs">
                <span class="ml-4 mr-2">DIMA: </span>
                <button class="text-sm border rounded-md px-2 mr-2"
                (click)=(dima_add_points(3))
                >+</button>
                <button class="text-sm border rounded-md px-2 mr-2"
                (click)=(dima_add_points(-3))
                >-</button>
                <span class="ml-4 mr-2">MAJA: </span>
                <button class="text-sm border rounded-md px-2 mr-2"
                (click)=(maja_add_points(3))
                >+</button>
                <button class="text-sm border rounded-md px-2 mr-2"
                (click)=(maja_add_points(-3))
                >-</button>
              </div>
            </div>
          </div>
        </div>
        <div class="basis-1/3">
          <div class="text-xl mb-4 ">{{judge_3[0]}}</div>
          <div [class.hidden]="!REVEALED">
            <div class="mb-4">
              <span>-- {{judge_3[1]}}</span>
              <div class="text-xs">
                <span class="ml-4 mr-2">DIMA: </span>
                <button class="text-sm border rounded-md px-2 mr-2"
                (click)=(dima_add_points(1))
                >+</button>
                <button class="text-sm border rounded-md px-2 mr-2"
                (click)=(dima_add_points(-1))
                >-</button>
                <span class="ml-4 mr-2">MAJA: </span>
                <button class="text-sm border rounded-md px-2 mr-2"
                (click)=(maja_add_points(1))
                >+</button>
                <button class="text-sm border rounded-md px-2 mr-2"
                (click)=(maja_add_points(-1))
                >-</button>
              </div>
            </div>
            <div class="mb-4">
              <span>-- {{judge_3[2]}}</span>
              <div class="text-xs">
                <span class="ml-4 mr-2">DIMA: </span>
                <button class="text-sm border rounded-md px-2 mr-2"
                (click)=(dima_add_points(2))
                >+</button>
                <button class="text-sm border rounded-md px-2 mr-2"
                (click)=(dima_add_points(-2))
                >-</button>
                <span class="ml-4 mr-2">MAJA: </span>
                <button class="text-sm border rounded-md px-2 mr-2"
                (click)=(maja_add_points(2))
                >+</button>
                <button class="text-sm border rounded-md px-2 mr-2"
                (click)=(maja_add_points(-2))
                >-</button>
              </div>
            </div>
            <div class="mb-4">
              <span>-- {{judge_3[3]}}</span>
              <div class="text-xs">
                <span class="ml-4 mr-2">DIMA: </span>
                <button class="text-sm border rounded-md px-2 mr-2"
                (click)=(dima_add_points(3))
                >+</button>
                <button class="text-sm border rounded-md px-2 mr-2"
                (click)=(dima_add_points(-3))
                >-</button>
                <span class="ml-4 mr-2">MAJA: </span>
                <button class="text-sm border rounded-md px-2 mr-2"
                (click)=(maja_add_points(3))
                >+</button>
                <button class="text-sm border rounded-md px-2 mr-2"
                (click)=(maja_add_points(-3))
                >-</button>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>

  <div class=" px-8 h-14 w-full">
    <div class="flex flex-row">
      <div class="basis-1/3">
        <span class="text-3xl mr-4">ROUND: {{round}}</span>
        <button class="
          text-3xl text-gray-100 mr-16
          bg-gradient-to-r from-slate-500 to-slate-500
          hover:from-blue-500 hover:to-cyan-500 transition-colors
          rounded-md px-2 py-1 cursor-pointer
          "
          (click)=(new_round())>NEXT ROUND
        </button>
      </div>

      <div class="basis-1/3 text-center text-3xl">
        <span class="mr-16">DIMA: {{dima_points}}</span>
        <span>MAJA: {{maja_points}}</span>
      </div>

      <div class="basis-1/3 text-right">
        <button class="
          text-3xl text-gray-100  
          bg-gradient-to-r from-red-500 to-red-500
          hover:from-blue-500 hover:to-cyan-500 transition-colors
          rounded-md px-2 py-1 cursor-pointer
          "
          (click)=(new_game())>NEW GAME
        </button>
      </div>

    </div>
  </div>
</main>



<router-outlet />
