<main class="p-8">
  <div>PLAYERS</div>
  <div class="flex flex-row gap-8 p-8 h-130">
    <div class="basis-1/2 relative">
      <!-- DIMA -->
      <div class="text-3xl text-bold underline">Dima </div>
      <div class="absolute top-0 right-12">
        <button class=" 
          mr-4
          text-xl text-gray-100  
          bg-gradient-to-r from-purple-500 to-pink-500
          hover:from-blue-500 hover:to-cyan-500 transition-colors
          rounded-md px-2 py-1 cursor-pointer
          "
          (click)=(accept_dima())
          [class.hidden]="!dima_action"
          >ACCEPT</button>
        <button class=" 
          mr-4
          text-xl text-gray-100  
          bg-gradient-to-r from-purple-500 to-pink-500
          hover:from-blue-500 hover:to-cyan-500 transition-colors
          rounded-md px-2 py-1 cursor-pointer
          "
          (click)=(generate_dima())
          [class.hidden]="!dima_counter"
          >ROLL</button>
          <span>{{dima_counter}}</span> left
      </div>

      <div
        class="pt-12 text-left text-xs font-bold text-gray-300"
        [class.hidden]="!dima_action"
        >
        <div class="row flex flex-row h-24">
          <div class="basis-1/2">ACTION
            <p class="text-black text-3xl font-bold">{{dima_action}}</p>
          </div>
          <div class="basis-1/2">FOCUS
            <p class="text-black text-3xl font-bold">{{dima_zone}}</p>
          </div>
        </div>
        <div class="row flex flex-row h-24">
          <div class="basis-1/2">MODE
            <p class="text-black text-3xl font-bold">{{dima_mode}}</p>
          </div>
          <div class="basis-1/2">BONUS
            <p class="text-black text-3xl font-bold">{{dima_mode_bonus}}</p>
          </div>
        </div>
        <div class="row flex flex-row h-24">
          <div class="basis-1/2">TIME
            <p class="text-black text-3xl font-bold">{{dima_time}}</p>
          </div>
          <div class="basis-1/2">BONUS
            <p class="text-black text-3xl font-bold">{{dima_time_bonus}}</p>
          </div>
        </div>
        <div class="row flex flex-row h-24">
          <div class="basis-1/2">ROLL BONUS
            <p class="text-black text-3xl font-bold">{{dima_counter}}</p>
          </div>
          <div class="basis-1/2">TOTAL BONUS
            <p class="text-black text-3xl font-bold">{{count_bonus_dima()}}</p>
          </div>
        </div>
      </div>
      <!-- END OF DIMA -->
    </div>

    <div class="basis-1/2 relative">
      <!-- MAJA -->
      <div class="text-3xl text-bold underline">Maja </div>
      <div class="absolute top-0 right-12">
        <button class=" 
          mr-4
          text-xl text-gray-100  
          bg-gradient-to-r from-purple-500 to-pink-500
          hover:from-blue-500 hover:to-cyan-500 transition-colors
          rounded-md px-2 py-1 cursor-pointer
          "
          (click)=(accept_maja())
          [class.hidden]="!maja_action"
          >ACCEPT</button>
        <button class=" 
          mr-4
          text-xl text-gray-100  
          bg-gradient-to-r from-purple-500 to-pink-500
          hover:from-blue-500 hover:to-cyan-500 transition-colors
          rounded-md px-2 py-1 cursor-pointer
          "
          (click)=(generate_maja())
          [class.hidden]="!maja_counter"
          >ROLL</button>
          <span>{{maja_counter}}</span> left
      </div>

      <div
        class="pt-12 text-left text-xs font-bold text-gray-300"
        [class.hidden]="!maja_action"
        >
        <div class="row flex flex-row h-24">
          <div class="basis-1/2">ACTION
            <p class="text-black text-3xl font-bold">{{maja_action}}</p>
          </div>
          <div class="basis-1/2">FOCUS
            <p class="text-black text-3xl font-bold">{{maja_zone}}</p>
          </div>
        </div>
        <div class="row flex flex-row h-24">
          <div class="basis-1/2">MODE
            <p class="text-black text-3xl font-bold">{{maja_mode}}</p>
          </div>
          <div class="basis-1/2">BONUS
            <p class="text-black text-3xl font-bold">{{maja_mode_bonus}}</p>
          </div>
        </div>
        <div class="row flex flex-row h-24">
          <div class="basis-1/2">TIME
            <p class="text-black text-3xl font-bold">{{maja_time}}</p>
          </div>
          <div class="basis-1/2">BONUS
            <p class="text-black text-3xl font-bold">{{maja_time_bonus}}</p>
          </div>
        </div>
        <div class="row flex flex-row h-24">
          <div class="basis-1/2">ROLL BONUS
            <p class="text-black text-3xl font-bold">{{maja_counter}}</p>
          </div>
          <div class="basis-1/2">TOTAL BONUS
            <p class="text-black text-3xl font-bold">{{count_bonus_maja()}}</p>
          </div>
        </div>
      </div>
      <!-- END OF MAJA -->
    </div>
  </div>

  <div>JUDGES</div>

      <div class="flex flex-row p-8">
        <div class="basis-1/3">
          <div class="text-xl mb-4">{{judge_1[0]}}</div>
          <div [class.hidden]="!REVEALED">
            <p class="mb-4">-- {{judge_1[1]}}</p>
            <p class="mb-4">-- {{judge_1[2]}}</p>
            <p class="mb-4">-- {{judge_1[3]}}</p>
          </div>
        </div>
        <div class="basis-1/3">
          <div class="text-xl mb-4">{{judge_2[0]}}</div>
          <div [class.hidden]="!REVEALED">
            <p class="mb-4">-- {{judge_2[1]}}</p>
            <p class="mb-4">-- {{judge_2[2]}}</p>
            <p class="mb-4">-- {{judge_2[3]}}</p>
          </div>
        </div>
        <div class="basis-1/3">
          <div class="text-xl mb-4 ">{{judge_3[0]}}</div>
          <div [class.hidden]="!REVEALED">
            <p class="mb-4">-- {{judge_3[1]}}</p>
            <p class="mb-4">-- {{judge_3[2]}}</p>
            <p class="mb-4">-- {{judge_3[3]}}</p>
          </div>
        </div>
      </div>

      <button class="
        absolute bottom-4 left-8
        text-xl text-gray-100  
        bg-gradient-to-r from-purple-500 to-pink-500
        hover:from-blue-500 hover:to-cyan-500 transition-colors
        rounded-md px-2 py-1 cursor-pointer
        "
        (click)=(reveal())
        >REVEAL</button>

      <button class="
        absolute bottom-4 right-8
        text-3xl text-gray-100  
        bg-gradient-to-r from-purple-500 to-pink-500
        hover:from-blue-500 hover:to-cyan-500 transition-colors
        rounded-md px-2 py-1 cursor-pointer
        "
        (click)=(new_round())
        >NEW_ROUND</button>
</main>



<router-outlet />
